html
  head
    title Thank You - we'll be in touch
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css")
    link(rel="stylesheet" href="style.css")
  body
    main
      h1 Thank You
      em We'll be in touch soon!
